@using Frontend.Components
@using Backend.Models.Features.Jobs

@if (Job != null)
{
    <form>
        <div class="form-group">
            <FormInputComponent Label="JobId" Edit="@false" Value="@Job.JobId"/>
            <FormInputComponent Label="Name" Edit="@true" @bind-Value="@Job.Name"/>
            <FormInputComponent Label="Auth Server" Help="Where bots connecting to" Edit="@true" @bind-Value="@Job.AuthServer"/>
            <FormInputComponent Label="Scenario" Help="What scenario bots will execute" Edit="@true" @bind-Value="@Job.Scenario"/>
            <FormInputComponent Label="Scenario Params" Help="Additional scenario params (optional)" Edit="@true" @bind-Value="@Job.ScenarioParams"/>
            <FormInputComponent Label="Bots Count" Help="How many scenarios run at all" Edit="@true" @bind-Value="@Job.BotsCount"/>
            <FormInputComponent Label="Bot Start Delay" Help="Delay before the next scenario starts" Edit="@true" @bind-Value="@Job.BotStartDelay"/>
            <FormInputComponent Label="Max Degree Of Parallelism" Help="How many scenarios run in parallel on each worker" Edit="@true" @bind-Value="@Job.MaxDegreeOfParallelism"/>
        </div>
    </form>
}

@code
{
    [Parameter]
    public JobModel? Job { get; set; }
}